html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: normal;
  color: #222;
  line-height: 1.5;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
}

.germ {
  font-weight: bold;
  font-family: "PT Serif", serif;
  color: #222;
}

blockquote {
  font-style: italic;
}

footer {
  font-size: .8rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

.alpha {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}
